@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';  
}

/*navbar*/

#header{
    position: sticky; 
    height: 90px;
    top: 0;
    border-radius: 0;
    border: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    text-align: center;

}

/* home */

.shiny-btn {
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 35px 50px;
  background-color: green;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"   width="1296px" height="768px" viewBox="0 0 1296 768" enable-background="new 0 0 1296 768" xml:space="preserve"><g><polygon fill="#12a8bb" points="766.6,1.2 -0.2,768 200.7,768 967.5,1.2   "/></g><g><polygon fill="#12A8BB" points="1094.8,1.2 328,768 528.9,768 1295.7,1.2   "/></g></svg>');
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shiny-btn:hover {
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
  color: white;
}
.shiny-btn:active {
  transform: scale(1);
  background-position: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.carousel-item-1{
  background:url(../assets/image/header.jpg);  
   background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover; padding-bottom: 10%;
}

.carousel-item-2{
  background:url(../assets/image/petani/bg.jpg);  
   background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover; padding-bottom: 10%;
}

.carousel-item-3{
  background:url(../assets/image/petani/petani1.jpg);  
   background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover; padding-bottom: 10%;
}

.carousel-item-4{
  background:url(../assets/image/petani/petani2.jpg);  
   background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover; padding-bottom: 10%;
}
@media screen and (max-width: 425px){
  .carousel-item-2, .carousel-item-1, .carousel-item-3{
    padding-bottom: 25% !important;
  }
}
/* Buat nyetting tinggi dari section */
@media screen and (max-width: 768px){
  #about{
    padding-top: 0px !important;  
  }
  #fiturKami{
    padding-top: 35px !important;   
  }
  #whyUs{
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 576px){
  #about{
    padding-top: 0px !important; 
  }

  #services{
    padding-top: 25px !important;
  }
  #whyUs{

    padding-top: 0px !important;
  }
}
@media screen and (max-width: 425px){

  #headerHome{
    padding-bottom: 35px;
  }
  #about{
    padding-top: 0px !important;
  
  }

  }



.carousel-item h1{
  padding-top: 13%; font-size: 72px;
}

@media screen and (max-width: 768px){
.carousel-item h1{
font-size: 45px;
}
}

@media screen and (max-width: 576px){
.carousel-item h1{
font-size: 32px;
}
}

.carousel-item p{
  padding-bottom: 5%;
}
header.masthead h1{
	font-size:2rem}
header.masthead p{
	font-weight:300}
.section-heading {
	margin-top:0
}

header.masthead{

	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover}
header.masthead h1{
	font-size:2rem}
header.masthead p{
	font-weight:300}
	@media (min-width:768px){
	
	header.masthead p{
		font-size:1.15rem}}
@media (min-width:992px){
	header.masthead{
		height:50vh;
		min-height:550px;
		padding-top:0;
		padding-bottom:0}
		header.masthead h1{
	font-size:4rem}}
.service-box{
	max-width:400px}
.text-primary{
		color:#317e85!important
	}
	.btn{
		font-weight:700;
		text-transform:uppercase;
		border-radius:300px;
	}

		
/*fix here*/
a:hover {
	color:#317e85
}
.bg-primary {
	background-color:#317e85!important
}
.bg-dark {
	background-color:#212529!important
}
.text-faded {
	color:rgba(255,255,255,.7)
}

/*----------------LOGIN PAGE BOSQ--------------*/

#cardLogin{
  opacity: 0.9; border-radius: 20px;
}

#cardLogin h2,#cardLogin input{
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
#cardLogin #daftarNow{
  border-top: 1px solid black; 
  width:65%;
   margin-left: 18%; 
   padding-top: 10px;
  margin-bottom: 5%;
}

#cardLogin button{
  width: 50%;
  margin-left: 35%;
  margin-bottom: 5%;
}

@media screen and (max-width: 1100px){
  #cardLogin h2,#cardLogin input{
  margin-bottom: 5%;
}

#cardLogin button{
  width: 50%;
  margin-bottom: 5%;
}

#cardLogin input{
  margin-left: 0%;
}

}
@media screen and (min-width: 600px){
  #cardLogin input{
    margin-left: 10%;
  }
}
/* -----------ABOUT US BOSQ---------- */
/* Pendahuluan page about us */
#pendahuluan{
    text-align: center;
    background: url("../assets/image/petani/petani2_background.jpg") no-repeat;
    background-size: cover;
    padding: 20px;
    color: #fff;
  }
  #pendahuluan img {
      width: 400px;
      height: auto;
      margin: 40px 0px;
    }
  #pendahuluan p{
   margin-top: 2%;
   padding: 0% 10% 2% 10%;
   font-size: 20px;
   text-align: justify;
   line-height: 2;
  }
  .pendahuluan-title {
    color: #12A8BB;
  }
  @media screen and (max-width: 1100px) {
    #pendahuluan p {
      font-size: 16px;
    }
    #pendahuluan img {
      width: 50%;
      height: auto;
    }
    .pendahuluan-title {
      font-size: 24px;
    }
  }

   /*----Fitur About Us----*/
  #fitur p{
    font-size: 18px;
    text-align: justify; 
    line-height: 2;
  }
  .cyan-background {
    background: #317e85;
    padding: 30px !important;
  }
  .white-background {
    background: #fff;
    padding: 30px !important;
  }
  .fitur-right-side {
    float: right !important;
  }
  .fitur-left-side {
    float: left !important;
  }
  .fitur-img {
    width: 250px;
    height: 250px;
  }
  .text-fitur-white {
    color: #fff;
  }
  .text-fitur-cyan {
    color: #12A8BB;
  }
  .text-fitur-title {
    margin: 10px 0 20px 0;
  }
  @media screen and (max-width: 1100px) {
    .fitur-img {
      width: 200px;
      height: 200px;
    }
    .text-fitur-title {
      font-size: 24px;
    }
    .text-fitur-content {
      font-size: 18px;
    }
  }

  /* ---------FOOOTERRRRR---------- */
#contact-us {
   background-color: #032b2f;
    background-size: cover;
    color: #fff;
    padding: 20px;
}
.logo_footer h6{
  margin-left: 5%;
}
#contact-us b{
  margin-right: 15px;
}
#contact-us h4{
  border-bottom: 2px solid white;  padding-bottom: 5px; margin-bottom: 6%;
}
.socmed-icon {
    margin: 10px 20px;
    font-size: 30px !important;
}
@media screen and (max-width: 1100px) {
  #contact-us h4{
    padding-bottom: 25px;
  }
    .logo_footer{
      text-align: center;
      margin-bottom: 10%;
    }
    .logo_footer h6{
      margin-left:0%;
    }
    .contact{
      text-align: center;
      margin-bottom: 10%;
    }
    .socialmedia{
      text-align: center;
      margin-bottom: 10%;
      
    }
}

/* ---------ARTICLE BOSQ---------*/

#carouselArticle img{
  width: 100%;
  max-height: 400px;
}

#carouselArticle .caption{
color: white; text-align: center; margin-top: 4%;
}

.boxHeadline{
  padding: 2%; background-color: black; margin-left: 5%;
  border-radius: 25px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topArticle{
  padding: 25px; border:1px black; border-radius: 25px; margin-left: 2%; text-align: center;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topArticle h2{
  border-bottom: 1px solid grey;
  width: 75%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 5%;
}

.topArticle .berita{
  margin-bottom: 8%;
}

.berita img {
  max-width: 150px; height:auto;
}
.berita .judul{
  margin-left: 6%; margin-top: 8%;
}

.berita h6{
  font-weight: bold;
}

.JudulSectionArtikel{
   float: left;
}

.artikelTerbaru{
    max-height: 300px !important;
    width: 250px;
}

.separator-multi-item {
  float: left;
  width: 100%; 
  border-width: 3px;
  padding: 0 !important;
}

.judulArtikel{
  margin: 5% 0;
}
.barisArtikelAtas{
margin: 5% 0;
}



@media screen and (max-width: 1100px) {
  .barisArtikelAtas{
    margin-left: 8%;
  }

  #carouselArticle .caption{
color: white; text-align: center; margin-top: 4%; 
  }

  .boxHeadline{
    margin-bottom: 10%;
  }

  .topArticle{
    margin-left:5%;
  }

  .berita img{
    max-width: 250px; 
    
  }
  .berita h6{
    font-size: 25px;
    font-weight: bold;
    margin-left: 0;
  }

}

@media screen and (max-width: 575px){
	.barisArtikelAtas{
		margin-left: 0%;
	}
	.boxHeadline{
		margin-left: 2%;
	}
	.topArticle{
		margin-left: 2%;
	}
	.articleSliding{
		margin-left: 1%;

	}
}


/* ---------DAFTAR BOSQ---------*/
.headSignUp {
  background-color: #167c85;
  height: 50%;
  color: white;
  text-align: center;
  padding: 7%;
}
#abu {
  background-color: #eeeeee;
}

#cardDaftar input,#cardDaftar select{
  margin-left: 0%;
  margin-bottom: 10%;
}

/*-----------PEMBAYARAN BOSQ-------*/

.header{
  background-color: #167c85;
  height: 25%;
  color: white;
  text-align: left;
  padding: 2%;
}
.kontenPembayaran{
  margin: 2% 0;


}
.kontenPembayaran h3, .kontenPembayaran input, .kontenPembayaran select{
  margin:2% 0;
}

.cardPembayaran{
  border-radius: 25px; border:2px solid grey;
  padding-bottom: 2%;
}

.kontenDetail{
  margin-top: 2%;
}

.kontenDetail h5{
  border-bottom: 1px solid grey; margin-bottom: 5%; padding-bottom: 3%; 
}

.kontenDetail h6{
  margin-top: 3%;
}

.kontenDetail img{
  max-height: 150px; width: auto; margin-left: 3%;
}

@media screen and (max-width: 1100px){
  .kontenDetail img{
    max-height: 110px;
  }
  .cardPembayaran{
    margin-bottom: 10%;
  }
  }

/*  KERANJANG BOSQQ*/

.indikatorKeranjang{
  margin-top: 5%; margin-left: 3%; margin-right: 3%; margin-bottom: 1%;
}

.kontenIndikatorKeranjang{
   margin-right: 2%; margin-bottom: 2%; background-color: #658a29; color: white;
}

.strukturKeranjang{
   margin-left: 3%; margin-right: 3%; margin-bottom: 1%; border: 1px solid grey;
}

.keranjangTengah{
  margin-right: 2%; margin-bottom: 2%;
}

.keranjangTengahPenjual{
  padding: 1% 0; margin-bottom: 2%; border-bottom: 1px solid grey; background-color: #317e85;
}

.namaPenjualKeranjang{
  margin-left: 2%; color: white; margin-top: 1%;
}

.fotoProdukKeranjang{
  max-width: 150px; height: auto;
}

@media screen and (max-width: 575px){
	.strukturKeranjang{
		text-align: center;
		margin-top: 5%;
	}
	.indikatorKeranjang{
		display: none;
	}
}

.kontenKeranjangTengah{
  margin-top: 3%; 
}

.keranjangBawah{
  margin: 3%;
}

.pengirimanProdukKeranjang{
  border: 1px solid grey; border-radius: 5px; padding: 2%; margin-right: 2%;
}

@media screen and (max-width: 575px){
	.pengirimanProdukKeranjang{
		margin-right: 0%;
		margin-bottom: 3%;
	}

	.buttonBuatPesananKeranjang{
		margin-left: 25%;
	}
}

.ringkasanPesananKeranjang{
  border: 1px solid grey; border-radius: 5px; padding: 2%;
}

.totalHargaKeranjang{
  margin-left: 8%; color: #167c85;
}

.buttonBuatPesananKeranjang{
  padding: 2% 10%; border-radius: 10px; background-color: green; color: white; 
}

.biayaPengirimanKeranjang{
  border-bottom: 1px solid grey; padding-bottom: 2%;
}
.biayaPengirimanKeranjang span{
 margin-left: 2%; font-weight: bold
}

.subtotalKeranjang{
  margin-left: 2%; font-weight: bold;
}

.produkKeranjang img{
  max-width: 150px; height: auto;
}

.headerKeranjang{
  background-color: #317e85; color: white;
}
@media screen and (max-width: 768px){
  .buttonBuatPesananKeranjang{
    font-size: 12px;
  }
}

/* -----SEAWEED MART BOSQ---------*/


.produkSeaweedMart{
   
   margin-top: 2%;
   margin-left: 5%;
   margin-right: 2%;
   margin-bottom: 3%;
}

.paginationProduk a{
  color: #167c85;
}

.judulProduk{
  font-weight: bold;
}


.cardProduk {
   border-radius: 25px; 
}

.cardProduk i{
  margin-right: 3%;
}

.cardProduk span{
  color: green;
}

.fotoProduk{
  border-top-right-radius: 25px; border-top-left-radius: 25px;
}

.buttonProdukInvest{
  padding: 4% 20%;
}

.judulSeaweedMart h2, .judulSeaweedMart{
  text-align: center;
   margin-top: 4%;
   font-weight: bold;
}

.judulSeaweedMart hr{
  border-top: 8px solid green; width: 5%;
}

.form-wrapper {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-color: #dedede #bababa #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  margin: 3% auto;
  overflow: hidden;
  padding: 8px;
  width: 50%;
}

.form-wrapper #search {
  border: 1px solid #CCC;
  -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  float: left;
  font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
  height: 10%;
  padding: 10px;
  width: 70%;
}

@media screen and (max-width: 425px){
  .form-wrapper{
  width: 85%;
}
}

.form-wrapper #search:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 1px 1px #bbb inset;
  -moz-box-shadow: 0 1px 1px #bbb inset;
  box-shadow: 0 1px 1px #bbb inset;
  outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper #submit {
  background-color: #0483a0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
  background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
  background-image: linear-gradient(top, #31b2c3, #0483a0);
  border: 1px solid #00748f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  color: #fafafa;
  cursor: pointer;
  height: 42px;
  float: right;
  font: 15px Arial, Helvetica;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
  width: 20%;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
  background-color: #31b2c3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
  background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
  background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
  background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
  background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
  background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
  border: 0;
}



/*  ------------SEAWEED INVEST BOSQ----------*/

.filterProyek i{
margin-right: 2%;
}

.cardInvest{
  text-align: center; padding: 0; padding-top: 1.25rem;
}

.cardInvest span{
  color: #658a29;
}

.bagianDanaInvest{
  background-color: #f8f7f0; padding-bottom: 6%; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; padding-top: 6%;
}


/* ----------- DETAIL PRODUCT BOSQ-------- */

.slideshowProduk{
  height: 300px;
}


@media screen and (max-width: 768px){
 .slideshowProduk{
  height: 190px;

}
}

@media screen and (max-width: 425px){
 .slideshowProduk{
  height: 250px;
}
}
  .preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }


.descProdukDetail{
  margin:2%; text-align: justify; padding: 2%;  border-radius: 25px; border:3px solid #12a8bb;
}

@media screen and (max-width: 425px){
  .descProdukDetail, .descSeller{
  width: 85%;
  margin-left: 8% !important;
}
.descProdukDetail h5{
  text-align: center;
}
}

@media screen and (width: 768px){
.descSeller{
  margin-left: 15% !important;
}
.descProdukDetail h5{
  text-align: center;
}
}
.descProdukDetail h5{
margin-top: 8%;
}
.descProdukDetail h6{
  margin-top: 8%;
}

.descProdukDetail span{
  color: green;
}

.descProdukDetail h2{
  font-weight: bold; color: green;
}
.descSeller{
  margin: 2%; text-align: center; padding: 2%; height: 50%; border:3px solid #12a8bb; border-radius: 25px;
}

.descSeller span{
  color: #ffe100;
}

.descSeller img{
  height: 85px; width: auto; border-radius: 50px; 
}

/*  Dashboard */

  .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#headerDashboard{
  height: 100px;  background-image: url('../assets/image/header.jpg'); 
  background-size: cover; background-repeat: no-repeat;
}

.judulMenuDashboard{
  text-align: center; background-color: green; border-color: grey; color: white;
}

.menuDashboard a{
color: black;
}

.menuDashboard i{
  margin-right: 5%;
  width: 30px;
}

.profilePictureDashboard{
  max-height: 100px; width: auto; margin-bottom: 5%;
}

.editProfile input, .editProfile select{
  margin-top: 2%; width: 85%;
}

.table-responsive{
   max-height: 250px;
}

  .editProdukUMKM input,.editProdukUMKM textarea {
     width: 85%;
    margin-top: 5%;
    margin-right: 15%;
  }

  .editProdukUMKM select{
    width: 100%;
    margin-top: 5%;
    margin-right: 15%;
  }

  .editProdukUMKM h6{
    margin: 2% 2%;
  }

  .editProdukUMKM img{
    max-width: auto;
    max-height: 150px;
  }

  .editProyekDashboard img{
    max-width: auto;
    max-height: 150px;
  }

  .editProyekDashboard input{
    width: 85%;
    margin-top: 5%;
    margin-right: 15%;
  }